.CardCart{
    background-color: rgb(250, 212, 219);
    width: 35%;
    height: 90%;
    display: flex;
    justify-content: center;
    padding: 2%;
    animation-name: moveModel;
    animation-duration: .8s;
    transition-timing-function: ease-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.ContentCardCart{
    width: 100%;
    margin: 7% 4%;
}
.TittleCartAndCross{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.TittleCart{
    font-size: 25px;
    color: black;
    font-weight: 700;
    align-items: center;
}
.Cross{
    margin-right: 8%;
    transition: all ease-in-out .3s;
    cursor: pointer;
}
.Cross:hover{
    color: gray;
    transition: all ease-in-out .3s;
}
.ProducsCart{
    overflow: auto;
    border: 2px black solid;
    height: 70%;
}
.Prices{
    display: flex;
    color: black;
    font-weight: 700;
    justify-content: space-between;
    font-size: 22px;
    color: #fc9700;
    margin-top: 5%;
}
.ConfirmCart{
    margin-top: 10%;
}
