.HeaderAndFilters{
    height: 10vh;
    padding-top: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.HeaderTittle{
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderTittle p{
    font-size: 55px;
    font-weight: 700;
}

.FiltersContent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Filters{
    display: flex;
    width: 500px;
    /* align-items: center;
    justify-content: space-evenly; */
}

.ContentProducts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,17rem), 1fr));
}

.Filter{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5%;
}
.Filter .TypeOrder{
    font-size: 13px;
    color: #343636;
}

.Filter .Order{
    font-family: 'Montserrat', sans-serif;
}