.ContentHome{
    z-index: -70;
}


.ProductExample{
    background-color: #B8EBA9;
    height: 65vh;
    display: flex;
    justify-items: center;
    z-index: 40;
    overflow: hidden;
    position: relative;
}

.Blob1{
    position: absolute;
    top: -80%;
    left: -15%;
    width: 30%;
    z-index: 0;
}
.Blob2{
    position: absolute;
    top: 0%;
    right: -8%;
    width: 30%;
    z-index: 0;
}


.ImgExample{
    width: 85%;
    -webkit-filter: drop-shadow(10px 10px 9px #222);
    filter: drop-shadow(10px 10px 9px #222);  
    margin-left: 40%;
    z-index: 5;
}
.ContentImgExample{
    display: grid;
    align-items: center;
}
.miniDescription{
    margin-bottom: 7%;
    font-size: small;
    color: #77946e;
}
.ButtonToProducts{
    border-color: white;
    border-width: 2cm;
}

.ContentDescription{
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 4%;
    margin-bottom: 8%;
    margin-left: 10%;
}

.wave{
    position: absolute;
    bottom: 0;
}



.ListProducts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
}

.ProductCard{
    background-color: #E0B5FA;
    border-radius: 20px;
    margin: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
}

.ProductCard > img {
    width: 90%;
    height: auto;
    filter: drop-shadow(10px 10px 9px #31313173);  
  }
