@font-face {
    font-family: myFirstFont;
    src: url(../../Fonts/tittleFonts.ttf);
}
.navbar{
    height: 10vh;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    align-items: center;
    background-color: rgb(250, 212, 219);
    z-index: 5;
    z-index: 50;
    position: sticky;
    top: 0;
}
.navbar > div {
    vertical-align: center;
}
.LogoStoreAndSearch{
    margin-left: 7%;
    letter-spacing: 10px;
    font-size: 3em;
}
.Search{
    min-width: 100px;
    width: 10rem;
    position: relative;
}
.Logo{
    font-family: myFirstFont, sans-serif;
    color: black;
}
.LinksAndCart{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.DivRight{
    display: flex;
    gap: 3%;
    justify-content: space-evenly;
    width: 100%;
}
.Account{
    margin-left: 2%;
}
.Links, .Cart, .Account, .Categories {
    display: grid;
    align-items: center;
}
.CardCart{
    background-color: rgb(250, 212, 219);
    width: 35%;
    height: 90%;
    display: flex;
    justify-content: center;
    padding: 2%;
    animation-name: moveModel;
    animation-duration: .8s;
    transition-timing-function: ease-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.ContentCardCart{
    width: 100%;
    margin: 7% 4%;
}
.TittleCartAndCross{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.TittleCart{
    font-size: 25px;
    color: black;
    font-weight: 700;
    align-items: center;
}
.Cross{
    margin-right: 8%;
}
.ProducsCart{
    border: 2px black solid;
    height: 70%;
}
.Prices{
    display: flex;
    color: black;
    font-weight: 700;
    justify-content: space-between;
    font-size: 22px;
    color: #fc9700;
    margin-top: 5%;
}
.ConfirmCart{
    margin-top: 10%;
}
@keyframes moveModel {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(0%);
    }
}