@font-face {
    font-family: myFirstFont;
    src: url(../../Fonts/tittleFonts.ttf);
}


.navbar{
    height: 10vh;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    align-items: center;
    background-color: rgb(250, 212, 219);
    z-index: 5;
    z-index: 50;
    position: sticky;
    top: 0;
}
.navbar > div {
    vertical-align: center;
}
.LogoStoreAndSearch{
    margin-left: 7%;
    letter-spacing: 5px;
    font-size: 3em;
}
.Search{
    min-width: 100px;
    width: 10rem;
    position: relative;
}


.Logo{
    font-family: myFirstFont, sans-serif;
}
.LinksAndCart{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.DivRight{
    display: flex;
    gap: 3%;
    justify-content: space-evenly;
    width: 100%;
}
.Account{
    margin-left: 2%;
}
.Links, .Cart, .Account, .Categories {
    display: grid;
    align-items: center;
}